<div class="container">
	<div class="row row-content" ng-controller="DishDetailController">
		<div class="col-xs-12">
			<div class="media">
				<div class="media-left media-middle">
					<a href="#">
						<img class="media-object img-thumbnail"
							 ng-src={{dish.image}} alt="Uthappizza">
					</a>
				</div>
				<div class="media-body">
					<h2 class="media-heading">{{dish.name}}
						<span class="label label-danger">{{dish.label}}</span>
						<span class="badge">{{dish.price | currency}}</span>
					</h2>
					<p>{{dish.description}}</p>
				</div>
			</div>
		</div>
		<div class="col-xs-9 col-xs-offset-1">
			<span class="small-heading">Customer Comments</span> 
			Sort by: <input type="text" ng-model="frule" ng-change="textCh()">
			<blockquote ng-repeat="comment in dish.comments | orderBy:predicate:reverse">
				<p>{{comment.rating}} Stars</p>
				<p>{{comment.comment}}</p>
				<footer>{{comment.author}}, {{comment.date | date:'MMM. d, yyyy'}}</footer>
			</blockquote>
		</div>


		<div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
			<blockquote ng-show="!commentForm.$invalid">
				<p>{{comment.rating}} Stars</p>
				<p>{{comment.comment}}</p>
				<footer>{{comment.author}}</footer>
			</blockquote>

			<form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
				<div class="form-group" ng-class="{'has-error':commentForm.yourname.$error.required && !commentForm.yourname.$pristine}">
					<label for="yourname" class="col-sm-2 control-label">Your Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="yourname" name="yourname"
							   placeholder="Enter Your Name" ng-model="comment.author" required>
						<span ng-show="commentForm.yourname.$error.required && !commentForm.yourname.$pristine" class="help-block">Your Name is required.</span>
					</div>
				</div>
				<div class="form-group">
					<label for="yourrating" class="col-sm-2 control-label">Number of Stars</label>
					<div class="col-sm-10">
						<label class="radio-inline">
							<input type="radio" id="1star" ng-model="comment.rating" value="1"> 1
						</label>
						<label class="radio-inline">
							<input type="radio" id="2star" ng-model="comment.rating" value="2"> 2
						</label>
						<label class="radio-inline">
							<input type="radio" id="3star" ng-model="comment.rating" value="3"> 3
						</label>
						<label class="radio-inline">
							<input type="radio" id="4star" ng-model="comment.rating" value="4"> 4
						</label>
						<label class="radio-inline">
							<input type="radio" id="5star" ng-model="comment.rating" value="5" checked> 5
						</label>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error':commentForm.yourcomments.$error.required && !commentForm.yourcomments.$pristine}">
					<label for="yourcomments" class="col-sm-2 control-label">Your Comments</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="yourcomments" name="yourcomments" rows="12"
								  ng-model="comment.comment" required></textarea>
						<span ng-show="commentForm.yourcomments.$error.required && !commentForm.yourcomments.$pristine" class="help-block">Please add your comment.</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
					</div>
				</div>
			</form>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
